<!DOCTYPE html>
<!--Das wird die Warenkorb-Seite-->
<html lang="de">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Das neueste kompilierte und minimierte CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/stylesheet.css">

   <!-- Optionales Theme
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
   -->
    <title>Applezone Cart</title>
  </head>

  <body> 
    <header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">
               
                <div  class="collapse navbar-collapse" id="myNavbar"> <!--die div hier ist für das "collapse", also denn Button beim Verkleinern-->
                <ul class="nav navbar-nav">

                        <li class="nav-item"><a class="nav-link" href="/shop">Home</a></li> <!--It works if I only have the link <a> with class "dropdown-item"-->

                         <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Our Apples <span class="caret"></span></a>
                               
                                <!--Hier eine Liste mit allen einzelnen Detailseiten, dropdown; Ich weiß nicht warum das nicht funktionieren will :(-->
                              <div class="dropdown-menu">
                                <% for(product of produkte){ %>
                                  <% if(product.versteckt == true){ continue;}%> <!--Versteckte überspringen-->
                                  <% if(nutzername != "Guest"){ %>
                                      <a class="dropdown-item nav2" href="/detail/<%=product.id%>"><%=product.name%></a> <hr>
                                  <% }%>
                                  <% if(nutzername == "Guest"){ %>
                                      <p>Want more details?<a id="logIN" href="/login"> Log in!</a></p>
                                      <%break%>
                                  <% }%>
                              <% }%>
                              </div>
                         </li> <!--Das li umarmt das dropdown Ding-->
                        

                        <!-- <li class="nav-item"><a  class="nav-link" href="/cart"><strong>Shopping Cart</strong></a></li> Kann auch gelöscht werden wegen Warenkorb Icon, aber nicht alle checken das.-->
                        
                        <li class="nav-item dropdown">
                            <a  class="nav-link dropdown-toggle"  data-toggle="dropdown" href="">About <span class="caret"></span></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item nav2" href="/about">About Us</a> <hr>
                                <a class="dropdown-item nav2" href="/about#story">Our Story</a> <hr>
                                <a class="dropdown-item nav2" href="/about#apples">About Apples</a> <hr>
                                <a class="dropdown-item nav2" href="/about#terms">Terms Of Service</a> 
                            </div>
                        </li> <!--Das li umarmt das dropdown Ding noch einmal-->
                        
                        <li class="nav-item"><a  class="nav-link" href="/about#cs">Customer Service</a></li> <!--Scroll to Customer Service Automatically-->
                        
                        <!-- Bedenke: die beiden "produktliste" und "create" müssen hier gelöscht werden, 
                        weil sie nur von Admins/ Uns zugänglich sein sollen;
                        also müsste hier wohl eine if-Abfrage mit der Admin-Variablen erfolgen D.-->
                          <% if(rolle == 1){ %>
                              <li class="nav-item"><a  class="nav-link" href="/produktliste">Update an Apple</a></li> <!--Admins only! -->
                              <li class="nav-item"><a  class="nav-link" href="/create">Create an Apple</a></li> <!--Admins only! -->
                          <% }%>
                
                </ul>
                </div>

            </div>
          
            <ul class="nav navbar-nav navbar-right  ml-auto">
                
                <li style="float:right"><a href="/cart"><img class="korbdesign" src="../public/korb.png" alt="Warenkorb" width="20" height="20" style="border-radius: 5%;"></a></li>
                <!--Hier Logout | Nutzername ODER Login | Register -->    
                <% if(nutzername != "Guest"){ %>
                <li style="float:right"><a  href="/Logout">Logout | <%=nutzername%><br></a></li>
                <% }%>
                <% if(nutzername == "Guest"){ %>
                <li style="float:right"><a  href="/home">Login | Register<br></a></li>
                <% }%>
                <!-- <li style="float: right"> <a  id="logReg" href="/Login">Login</a> | <a id="logReg" href="/Register">Register</a><br></li> -->
                
                <button id="menuToggle" type="button" class="navbar-toggle navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
                    Menu
                </button>
            </ul>
            
        </div>
    </nav>
    </header> <!-- Header mit allen Inhalten muss überarbeitet werden mit neuem Design und Layout-->
    
<container class="container">
    <section id="section1">
            <span id="obererAbstand"> <br> <br> <br> </span> <!--den oberen Abstand (damit die Nav nichts bedeckt kann man später in Css machen)-->
            <h3>Your Shopping Cart</h3>
            <p>here you can see the list of items that are currently in your shopping cart</p>
            <br>
    </section>

    <section id="warenkorb"> <!--Hier can man Die Warenkorb-Tabelle einfügen-->
        <div>
            
            <table  style="width: 90%; border-width: 5px; border-style: double;">
                
                
                <tr>
                    <th>pic</th> <!--Hier kommt das Bild-->
                    <th>Name</th> <!---->
                    <th>Details</th> <!-- Hier kommt scheinbar ein Link zur Detailseite?-->
                    <th>Unit price</th> <!--Einzelpreis-->
                    <th>Number of apples</th> <!--Anzahl-->
                    <th>Intermediate price</th> <!--Total prize x Number of Apples, vllt kann man hier ne Funktion schreiben-->
                    <th></th> <!--Für den Löschbutton o.ä.-->
                </tr>
                
                <% let sum = 0 %>
                <% for(product of cartCookie) { %>
                <tr>
                    <td>
                    <a href="/detail/<%=product[0][0].id%>"> <img style="width: 40px" src=<%=product[0][0].bild %> ></a>
                    </td>
                    <td>
                    <%=product[0][0].name%>
                    </td>
                    <td>
                    <a href="/detail/<%=product[0][0].id%>"> link zur detailpage</a>
                    </td>
                    <td>
                    <%=product[0][0].preis.toFixed(2)%> €
                    </td>
                    <td>
                        <form action="onCountMutation" method="POST">
                        <input type="number" name="anzahl" value=<%=product[1]%> min=1 max=<%=product[0][0].anzahl%> id="">
                        <input type="hidden" name="productId" value=<%=product[0][0].id%>>
                        <input type="submit" value="update">
                    </form>
                    </td>
                    <td>
                        <%=(product[0][0].preis * product[1]).toFixed(2) %>€
                    </td>
                    <td>
                        <form action="onCountMutationButton" method="POST">
                            <input type="hidden" name="productId" value=<%=product[0][0].id%>>
                            <button type="submit" name="plusOne" value=<%=product[1] - (-1) %>>+</button>
                            <button type="submit" name="minusOne" value=<%=product[1] - 1 %>>-</button>
                            <button type="submit" name="delete" value=0><img style="width: 20px" src="/public/delete.png" alt="delete product" ></button>
                    </form>
                    </td>
                </tr>


                    <% sum = sum + (product[0][0].preis * product[1]) %>
                    <% } %>
                                
                    <tr>
                        <td><hr></td>
                        <td><hr></td>
                        <td><hr></td>
                        <td><hr></td>
                        <td><hr></td>
                        <td><hr></td>
                        <td><hr></td>
                    </tr>
                    
                    <th>Total price</th>
                    <td><%=sum.toFixed(2)%>€</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </form>
            </table>
        
        </div>
    </section>

    <section id="buttons">
        <button><a href="/shop">Not ready yet?</a></button>
        <button><a href="/purchase">BUY</a></button>
    </section>
</container>

<footer class="fixed-bottom col-sm-12 col-md-12 col-lg-12">
    <div class="bottom-footer">
            <ul class="footer-nav">
                <a href="/about">About Us</a><br>
                
                <a href="/about#terms"> Terms of Service</a> <br>
            
                <p>Spring 2021</p> <br>
            </ul>
    </div>
</footer>
</body>
</html>