<!DOCTYPE html>
<!--Das wird die Warenkorb-Seite-->
<html lang="de">

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">

   <!-- Hier versuche ich es Mal mit
    Bootstrap: -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Das neueste kompilierte und minimierte CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

   <!-- Optionales Theme -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <title>Applezone Cart</title>
  </head>

  <body> 
<header>
    <nav>
        <ul class="stick header-top"> <!-- Header mit allen Inhalten muss überarbeitet werden mit neuem Design und Layout-->
        
            <li><a class="header-inhalt" href="/shop">Home</a></li>
        <!-- Bedenke: die beiden "produktliste" und "create" müssen hier gelöscht werden, 
        weil sie nur von Admins/ Uns zugänglich sein sollen-->
            <li><a class="header-inhalt" href="/produktliste">Our Products</a></li>
            <li><a class="header-inhalt" href="/create">Create A Product</a></li>
            <li><a class="header-inhalt" href="">Vier</a></li>
            <li><a class="header-inhalt" href="">Fünf</a></li>
            <li><a class="header-inhalt" href="">Sechs</a></li>
            <li style="float:right"><a href="/cart"><img class="korbdesign" src="../public/korb.png" alt="Warenkorb" width="26" height="26"></a></li>
        <!--Hier Logout | Nutzername ODER Login | Register -->    
            <li style="float:right"><a class="header-inhalt" href="/Logout">Logout | <%= nutzername %><br></a></li>
            <li style="float:right"><a class="header-inhalt" href="/about">About Us</a></li>
        
        </ul>
  </nav>
</header> <!-- Header mit allen Inhalten muss überarbeitet werden mit neuem Design und Layout-->
    
<container class="container">
    <section id="section1">
            <span id="obererAbstand"> <br> <br> <br> </span> <!--den oberen Abstand (damit die Nav nichts bedeckt kann man später in Css machen)-->
            <h3>Your Shopping Cart</h3>
            <p>here you can see the list of items that are currently in your shopping cart</p>
            <br>
    </section>

    <section id="warenkorb"> <!--Hier can man Die Warenkorb-Tabelle einfügen-->
        <div>

            <table  style="width: 90%; border-width: 5px; border-style: double;">
                <tr>
                    <th>pic</th> <!--Hier kommt das Bild-->
                    <th>Name</th> <!---->
                    <th>Details</th> <!-- Hier kommt scheinbar ein Link zur Detailseite?-->
                    <th>Unit price</th> <!--Einzelpreis-->
                    <th>Number of apples</th> <!--Anzahl-->
                    <th>Intermediate price</th> <!--Total prize x Number of Apples, vllt kann man hier ne Funktion schreiben-->
                    <th>Total price</th>
                </tr>
                <tr>
                    <td>
                    <img style="width: 40px" src="/public/Blue_Apple.jpg"> <!-- hier muss man natürlich auch mit ejs das richtige Bild zeigen -->
                    </td>
                    <td>
                    <!-- <%= // name %> -->
                    </td>
                    <td>
                    <a href="/detail/ <!-- <%= //id %> -->"> link zur detailpage  <!-- <%= // name %> --> </a>
                    </td>
                    <td>
                    <!-- <%= // preis %> --> €
                    </td>
                    <td>
                     Anzahl, z.B. 20
                    </td>
                    <td>
                     für jede Reihe: unit price * number of apples €
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>total price: sum of all intermediate prices €</td>
                </tr>
            </table>
        
        </div>
    </section>

    <section id="buttons">
        <button><a href="/shop">Not ready yet?</a></button>
        <button><a href="/purchase">BUY</a></button>
    </section>
</container>

<footer>
    <a href="/about">About Us</a>
    <br>
    <a href="/about">Terms of Service</a>
    <br>
    <p>Spring 2021</p>
</footer>
</body>
</html>