<!Doctype html>
<!--Das wird die basic Detailansicht-Seite-->
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!--Ich bin sehr frustriert und verstehe nicht, warum bootstrap auf der Layout Seite funktioniert, 
            aber hier scheinbar gar nichts, weder bootstrap noch der lokale Stylesheet? 
            Also an EJS kann es nicht liegen...
        https://www.digitalocean.com/community/tutorials/how-to-use-ejs-to-template-your-node-application
        laut dem Link müsste es funktionieren? D.-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
       <!--  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
       --> 

        <link rel="stylesheet" type="text/css" href="/stylesheet.css"> <!--"unable to read stylesheet css"-->

        <title><%=produkte[0].name%></title>
    </head>
    <body>
        

        <container class="container">
        <div class="row">

            <div class="container col-lg-6">
                <section class="imgLeft">
                    <img width="500px" src="<%= produkte[0].bild %>">
                    
                    <div class="backButton">
                        <a href="/shop" id="f1"> <input type="button" value="Back" class="btn btn-secondary"/> </a>
                    </div>
                </section>
            </div>
            

            <div class="container col-lg-6"> 
                <section class="textRight">
                    <h2><%=produkte[0].name%></h2>
                   
                    <p id="story"><%=produkte[0].story%></p> 

                    <p>In stock: <%=produkte[0].anzahl%></p>
                    <p>Crispness: <%=produkte[0].knackig%>%</p>
                    <p>Juiciness: <%=produkte[0].saftig%>%</p>
                    <p>Color: <%=produkte[0].farbe%></p>
                    <p>Weight: <%=produkte[0].gewicht%>g</p>

                    <p id="price">Price: <%=produkte[0].preis%>€</p> 

                    <div id="anzahlPreis">
                        <form> <!--okay hier wird man wohl eine Funktion schreiben müssen-->
                            <label for="quantity" style="margin: 0px 0px 1px 0px;font-weight: lighter;">How many apples? </label>
                            <input type="number" id="quantity" name="quantity" min="1" max="<%=produkte[0].anzahl%>" style="width: 55px">
                        </form>
                        <p id="price">Total price: <%=produkte[0].preis%>€</p> <!--Hier auch.--> 
                        <div class="cartButton">
                            <a href=""> <input type="button" value="add to cart" class="btn btn-success btn-lg" style="margin-inline-start: 3px;"/> </a>
                        </div>
                    </div>
                </section>

                <aside></aside>
            </div>

        </div>
        </container>


        <footer id="uglyFooter" class= "fixed-bottom col-sm-12 col-md-12 col-lg-12">
            <div class="bottom-footer">
                    <ul class="footer-nav">
                        <a href="/about">About Us</a><br>
                        
                        <a href="/about#terms"> Terms of Service</a> <br>
                    
                        <p>Spring 2021</p> <br>
                    </ul>
            </div>
        </footer>
    
    </body>
</html>