<!DOCTYPE html>
<!--Das wird die basic Detailansicht-Seite-->
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="stylesheet.css">
        <title>Apple X</title>
    </head>
    <body>
        

        <container>
        <article>
            <h2><%=produkte[0].name%></h2>
            <section>
                <img width="400px" src="<%= produkte[0].bild %>">
            </section>
            <section>
                <h3>Costs: <%=produkte[0].preis%></h3>
                <p>In stock: <%=produkte[0].anzahl%></p>
                <p>Crispness: <%=produkte[0].knackig%> </p>
                <p>Juiciness: <%=produkte[0].saftig%></p>
                <p>Color: <%=produkte[0].farbe%></p>
                <p>weight: <%=produkte[0].gewicht%></p>
            </section>
            <aside></aside>
        </article>
        </container>

        <footer>
            <a href="/about">About Us</a>
            <br>
            <a href="/about">Terms of Service</a>
            <br>
            <p>Spring 2021</p>
        </footer>
    </body>
</html>