<!DOCTYPE html>
<!--Das wird die basic Detailansicht-Seite-->
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="stylesheet.css">
        <title>Apple X</title>
    </head>
    <body>
        

        <container>
        <article>
            <h2><%= name %></h2>
            <section>
                <img width="400px" src="<%= bild %>">
            </section>
            <section>
                <h3>Costs: <%= preis %></h3>
                <p>In stock: <%= anzahl %></p>
                <p>Crispness: <%= knackig %> </p>
                <p>Juiciness: <%= saft %></p>
                <p>Color: <%= farbe %></p>
                <p>weight: <%= gewicht %></p>
            </section>
            <aside></aside>
        </article>
        </container>

        <footer>
            <a href="/about">About Us</a>
            <br>
            <a href="/about">Terms of Service</a>
            <br>
            <p>Spring 2021</p>
        </footer>
    </body>
</html>