<!Doctype html>
<html lang="de">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Das neueste kompilierte und minimierte CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <link rel="stylesheet" type="text/css" href="stylesheet.css">
   
    <title>Applezone Shop</title>
  </head>

  <body>
      
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">
               
                <div  class="collapse navbar-collapse" id="myNavbar"> <!--die div hier ist für das "collapse", also denn Button beim Verkleinern-->
                <ul class="nav navbar-nav">

                        <li class="nav-item"><a class="nav-link" href="/shop"><strong>Home</strong></a></li> <!--It works if I only have the link <a> with class "dropdown-item"-->

                         <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><strong>Our Apples <span class="caret"></span></strong></a>
                               
                                <!--Hier eine Liste mit allen einzelnen Detailseiten, dropdown; Ich weiß nicht warum das nicht funktionieren will :(-->
                                <div class="dropdown-menu">
                                    <a class="dropdown-item nav2" href="/detail/1">Horneburger Pfannkuchen <br><span id="apfelFarbeDrop">(red)</span></a> <hr>
                                    <a class="dropdown-item nav2" href="/detail/2">Horneburger Pfannkuchen <br><span id="apfelFarbeDrop">(green)</span></a> <hr>
                                    <a class="dropdown-item nav2" href="/detail/3">Kaiser Wilhelm (green)</a> <hr>
                                    <a class="dropdown-item nav2" href="/detail/4">Kaiser Wilhelm (red)</a> 
                               </div>
                               <!-- Aber hier muss wohl das Selbe passieren wie beim Button "View Details", nicht wahr? 
                                also ungefähr sowas wie unten bei der form..
                                Hätte einer von euch (Luis) da einen Durchblick?
                               -->
                         </li> <!--Das li umarmt das dropdown Ding-->
                        

                        <li class="nav-item"><a  class="nav-link" href="/cart"><strong>Shopping Cart</strong></a></li> <!--Kann auch gelöscht werden wegen Warenkorb Icon, aber nicht alle checken das.-->
                        
                        <li class="nav-item dropdown">
                            <a  class="nav-link dropdown-toggle"  data-toggle="dropdown" href="">About <span class="caret"></span></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item nav2" href="/about">About Us</a> <hr>
                                <a class="dropdown-item nav2" href="/about#story">Our Story</a> <hr>
                                <a class="dropdown-item nav2" href="/about#apples">About Apples</a> <hr>
                                <a class="dropdown-item nav2" href="/about#terms">Terms Of Service</a> 
                            </div>
                        </li> <!--Das li umarmt das dropdown Ding noch einmal-->
                        
                        <li class="nav-item"><a  class="nav-link" href="/about#cs">Customer Service</a></li> <!--Scroll to Customer Service Automatically-->
                        
                        <!-- Bedenke: die beiden "produktliste" und "create" müssen hier gelöscht werden, 
                        weil sie nur von Admins/ Uns zugänglich sein sollen;
                        also müsste hier wohl eine if-Abfrage mit der Admin-Variablen erfolgen D.-->
                        
                        <li class="nav-item"><a  class="nav-link" href="/produktliste">Update an Apple</a></li> <!--Admins only! -->
                        <li class="nav-item"><a  class="nav-link" href="/create">Create an Apple</a></li> <!--Admins only! -->
                
                </ul>
                </div>

            </div>
          
            <ul class="nav navbar-nav navbar-right  ml-auto">
                
                <li style="float:right"><a href="/cart"><img class="korbdesign" src="../public/korb.png" alt="Warenkorb" width="20" height="20" style="border-radius: 5%;"></a></li>
                <!--Hier Logout | Nutzername ODER Login | Register -->    
                <li style="float:right"><a  href="/Logout">Logout | <%=nutzername%><br></a></li>
                
                <button tyle="float:right" type="button" class="navbar-toggle navbar-toggler" data-toggle="collapse" data-target="#myNavbar" style="margin: 5px; margin-left:15px; width: 55px; height: 35px; background-color: gray;">
                </button>
            </ul>
            
        </div>
  </nav>
</header>


    
<container class="col-md-12">
    <section id="section1">
            <div class="jumbotron jumbotron-fluid">
            <div class="container-fluid"> 
            <div class="jText">
                <h2><strong>Welcome to Applezone!</strong></h2>
                <p><strong>Juicy or Crunchy - <br> find the Apple <span><em>you</em></span> deserve!</strong></p>
            </div>
            </div>
            </div>
    </section>
</container>  
<!-- Das ganze hier exisitert nur um den Code zu den Dropdowns oder Collapibles besser accessen zu können. D. 
    <section id="section2"> 
    <hr>
        <button type="button" data-target="#demo" data-toggle="collapse">Collapse Button</button>
            <div class="collapse" id="demo">
                Collapsible content <br>
                More content <br>
                Loads of content <br>
            </div>

            <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">ja</a>
                    <a href="#" class="dropdown-item">nein</a>
                </div>
            </div>
    </section> --> 
<container class="container-lg col-md-12">

    <section id="section3" class=""> <!--Das wird die Main Section mit den Produkten-->

        <% for(product of produkte){ %>
            <% if(product.versteckt == true){ continue;}%> <!--Versteckte überspringen-->
            <div class="thumbnail col-sm-6 col-lg-3 col-md-4"> <!--Hier werden die Praktisch in Reihen aufgeteilt-->
                <img class="card-image-top" alt="apple pic" src=<%=product.bild%>>
                <div class="caption">

                    <h4><%=product.name%></h4>
                    <p><%=product.story%></p>
                    <p id="price">Price: <%=product.preis%>€</p>
            
                    <% if(nutzername != "Guest"){ %><p id="abovePrice" style="display: inline;">
                        <div class="input-group">
                        <form action="detail/<%=product.id%>" method="POST" id="f1"> <input type="submit" value="view details" class="btn btn-primary " /> </form>
                        <span class="input-group-btn" style="width:7.5px;"></span>  <!--Damit die nebeneinander sind-->
                        <form action="addcart/<%=product.id%>" method="POST" id="f2"> <input type="submit" value="add to cart" class="btn btn-success " /> </form></div>
                        </p>
                        <% }%>
                    <% if(nutzername == "Guest"){ %>
                        <p>Add to cart? <a id="logIN" href="/login">Log in!</a></p><% }%>
                  </div>
            </div>
          <% }%>

    </section>

</container>

<!--Habe ne class und Breite für den Footer hinzugefügt-->
<footer class="col-sm-12 col-md-12 col-lg-12">
    <div class="bottom-footer">
            <ul class="footer-nav">
                <a href="/about">About Us</a><br>
                
                <a href="/about#terms"> Terms of Service</a> <br>
            
                <p>Spring 2021</p> <br>
            </ul>
    </div>
</footer>

</body>
</html>