<!Doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <title>Produkt</title>
  </head>
  <body>
    <form action="/onupdate/<%=id%>" method="POST">
        Name des Produktes: <br>
        <input type="text" name="produktname" value="<%=name%>" required> <br>
        Preis des Produktes: <br>
        <input type="number" step="0.01" minstep="0.01" name="produktpreis" value="<%=preis%>" required> <br>
        Anzahl des Produktes: <br>
        <input type="number" min="0" name="anzahl" value="<%=anzahl%>" required> <br>
        Knackigkeit des Produktes: <br>
        <input type="number" min="0" max="100" name="knackig" value="<%=knackig%>" required> <br>
        Farbe des Produktes: <br>
        <input type="text" min="0" name="farbe" value="<%=farbe%>" required><br>
        Gewicht des Produktes: <br>
        <input type="number" min="0" step="0.01" value="<%=gewicht%>" name="gewicht" required><br>
        Saftigkeit des Produktes: <br>
        <input type="number" min="0" max="100" name="saft" value="<%=saft%>" required><br>
        Bild hinzufügen?(URL): <br>
        <input type="text" name="bild" value="<%=bild%>"><br>
        <br>
        <input type="checkbox" id="versteckt" name="versteckt" value="1">
        <label for="versteckt">Versteckten?</label>
        <br><br>
        <button type="submit">Speichern</button>
    </form>
  </body>
</html>