<!Doctype html>
<html lang="de">

  <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <title>Produkt</title>
  </head>

  <body>

  <div  class="container">
  <div  id="updateForm" >
    <h3>Bearbeite diesen Apfel</h3><br>
    <form  class="form-group" action="/onupdate/<%=id%>" method="POST" enctype="multipart/form-data">  <!--Ins ganze form müssen noch labels rein-->
        
        <input type="hidden" name="MAX_FILE_SIZE" value="8388608" />  <!--Uploadlimit-->
        <label for="id">Produkt ID</label><br>
        <input type="text" name="id" readonly id="id" value="<%=id%>"> <br><br>
        Name des Produktes: <br>
        <input type="text" name="produktname" value="<%=name%>" required> <br><br>
        Preis des Produktes (in Euro): <br>
        <input type="number" step="0.01" minstep="0.01" name="produktpreis" value="<%=preis%>" required> <br><br>
        Anzahl des Produktes: <br>
        <input type="number" min="0" name="anzahl" value="<%=anzahl%>" required> <br><br>
        Knackigkeit des Produktes (in Prozent): <br>
        <input type="number" min="0" max="100" name="knackig" value="<%=knackig%>" required> <br><br>
        Farbe des Produktes: <br>
        <input type="text" min="0" name="farbe" value="<%=farbe%>" required><br><br>
        Gewicht des Produktes (in Gramm): <br>
        <input type="number" min="0" step="0.01" value="<%=gewicht%>" name="gewicht" required><br><br>
        Saftigkeit des Produktes (in Prozent): <br>
        <input type="number" min="0" max="100" name="saftig" value="<%=saftig%>" required><br><br>
        <label for="bild">Bild hinzufügen?:</label> <br>
        <input type="file" accept="image/jpeg, image/jpg, image/png" name="bild" id="bild" value=""><br><br>
        Beschreibung des Produktes: <br>
        <div>  
          <textarea id="text" name="story" cols="45" rows="7"><%=story%></textarea> 	
          <!-- <input type="text" name="story" value="<%=story%>" required><br><br> -->
        </div> 
        <br>
        <input type="checkbox" id="versteckt" name="versteckt" value="1">
        <label for="versteckt">Verstecken?</label>
        <br><br>
        <button type="submit">Speichern</button>

    </form>
    <a href="/produktliste">Abbrechen</a>
  </div> 
  </div>
  
  
  </body>
</html>